<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="OderByEx.js"></script>
</head>

<body>

<p> Example for Order By example</p>

<p> Click the table header to change the sorting order</p>

<div class="container" ng-controller="myCtrl">

<table class="table table-hover">
   <thead>
    <tr class="warning">
        <th ng-click="orderByMe('name')"> Name </th>
        <th ng-click="orderByMe('country')"> Country </th>
    </tr>
   </thead>
    <tbody>
        <tr ng-repeat="x in names | orderBy:myOrderBy">
            <td>{{x.name}}</td>
            <td>{{x.country}}</td>
        </tr>
    </tbody>
</table>

</div>



</body>
</html>